<div ng-show="!editSuccess" loading-overlay="loading">
    <div class="alert alert-info">
        Użytkownik: {{ user.username }}
    </div>
    <form role="form" name="changePasswordForm" ng-submit="editUserPassword(changePasswordForm)" novalidate>
        <div class="input-group input-group-sm"
             tooltip="Nowe hasło"
             tooltip-trigger="mouseenter"
             tooltip-placement="right"
             tooltip-append-to-body="true">
            <input type="password" class="form-control" placeholder="Nowe hasło" ng-model="changePasswordForm.newPassword">
            <div class="alert alert-danger" ng-show="warning.newPassword">{{warning.newPassword}}</div>
        </div>
        <div class="input-group input-group-sm"
             tooltip="Powtórz hasło"
             tooltip-trigger="mouseenter"
             tooltip-placement="right"
             tooltip-append-to-body="true">
            <input type="password" class="form-control" placeholder="Powtórz Hasło" ng-model="changePasswordForm.repeatPassword">
            <div class="alert alert-danger" ng-show="warning.repeatPassword">{{warning.repeatPassword}}</div>
        </div>

        <div class="row">
            <a class="btn btn-default col-md-6" ui-sref="edituser({id: user.id})">&lt;- Wróć</a>
            <button type="submit" class="btn btn-default col-md-6">Zmień dane</button>
        </div>
    </form>
</div>
<div ng-show="editSuccess">
    <div class="alert alert-success col-md-12">
        Pomyślnie zmieniono hasło użytkownika.
    </div>
    <a type="button" class="btn btn-default col-md-12" ui-sref="logged">&lt;- Wróć</a>
</div>